# vscode
.vscode

# npm
node_modules

# output
dist

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

out
dist
LICENSE.md
tsconfig.json
tsconfig.*.json
.gitignore
